.button {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;

  font-size: $font-size-button;
  color: currentColor;

  border: unset;

  cursor: pointer;
  user-select: none;

  @include bp(1024) {
    padding: 15px 25px;

    font-size: $font-size-button--desktop;
  }
}
