doctype html
html(lang="uk")
  head
    title Hello world
  body
    p Всем привет!

    .slider
      .slider__item 1
      .slider__item 2
      .slider__item 3
      .slider__item 4
      .slider__item 5

    link(rel="stylesheet", href="static/css/style.min.css")
    script(src="static/js/libs.js")
    script(src="static/js/main.js")