include ../mixins/bemto/bemto
include ../mixins/mixins
block variables

+b.HTML.page(class= pageModifier, lang="uk")

  head
    meta(charset="utf-8")
    title #{title}
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="description" content=description)
    meta(property="og:image" content=ogImage)
    include ../modules/favicon
    include ../modules/google-analytics

    style(body="opacity: 0; overflow-x: hidden;", html="background-color: #000;")

  body
    +e.wrapper
      include ../modules/header
      +e.MAIN.content
        block content
      include ../modules/footer

    link(rel="stylesheet", href="static/css/style.min.css")
    script(src="static/js/scripts.min.js")
    block script
