extends ../layouts/layout

block meta
  - var title = ''
  - var description = ''
  - var ogImage = 'img/og-image.jpg'
  - var pageModifier = '--index'
  - var currentUrl = '/'

block content
  +b.SECTION.hero--index
    +e.container.container
      +b.HEADER.heading.__heading
        +e.H1.title
          span Kontora starter
