//- Фавиконки (https://realfavicongenerator.net)
<!-- favicon -->
<link rel='apple-touch-icon' sizes='180x180' href='img/favicon/img/apple-touch-icon.png?v=2'>
<link rel='icon' type='image/png' sizes='32x32' href='img/favicon/img/favicon-32x32.png?v=2'>
<link rel='icon' type='image/png' sizes='16x16' href='img/favicon/img/favicon-16x16.png?v=2'>
<link rel='manifest' href='img/favicon/img/site.webmanifest?v=2'>
<link rel='mask-icon' href='img/favicon/img/safari-pinned-tab.svg?v=2' color='#dc272d'>
<link rel='shortcut icon' href='img/favicon/img/favicon.ico?v=2'>
<meta name='apple-mobile-web-app-title' content='Molfar Forum'>
<meta name='application-name' content='Molfar Forum'>
<meta name='msapplication-TileColor' content='#dc272d'>
<meta name='msapplication-TileImage' content='img/favicon/img/mstile-144x144.png?v=2'>
<meta name='msapplication-config' content='img/favicon/img/browserconfig.xml?v=2'>
<meta name='theme-color' content='#ffffff'>
